@inherits LayoutComponentBase

<div class="container-fluid">

    <header>
        <h1><img src="img/myticket.png"></h1>
        <h3 class="title">MyTicket Ticket Management </h3>
    </header>

    <div class="d-flex">
        <NavMenu></NavMenu>

        <div class="content">
            @Body
        </div>
    </div>
</div>
