@page "/"

<h1 class="page-title">Welcome to the MyTicket Ticket Management System!</h1>
<br />
<h4>Using this application, you have access to all functionalities of GloboTicket.</h4>

<br />

<AuthorizeView>
    <Authorized>
        <button @onclick="Logout">Logout</button>
    </Authorized>
    <NotAuthorized>
        <button @onclick="NavigateToLogin">Click here to log in</button>
        <br />
        <button @onclick="NavigateToRegister">Click here to register</button>
    </NotAuthorized>
</AuthorizeView>